# Google Cloud Configuration
GCP_PROJECT_ID=mtech-merch-epc-np
GEMINI_MODEL=gemini-2.5-flash
GCP_LOCATION=us-east4

# Set this to TRUE to use Vertex AI with ADC instead of Google AI Studio with API Keys
GOOGLE_GENAI_USE_VERTEXAI=TRUE

# dev
# DB_USER=epc_developer
# DB_PASS=
# DB_NAME=epc_orch
# DB_HOST=127.0.0.1
# DB_PORT=4779

# uat
# DB_USER=epc_read
# DB_PASS=
# DB_NAME=epc_orch
# DB_HOST=127.0.0.1
# DB_PORT=4780

# prod
DB_USER=epc_read
DB_PASS=
DB_NAME=epc_orch
DB_HOST=127.0.0.1
DB_PORT=4709